<nav class="text-white dark:bg-gray-900 dark:border-gray-700 p-5">
  <h1 class="text-3xl">Property Manager</h1>
</nav>

<div id="properties" class="flex flex-col mx-5 space-y-5">
  <% @properties.each do |property| %>
    <div class="mt-5">
      <h2 class="text-xl"><a href="<%= property_path(property.id) %>"><%= property.address %>, <%= property.city %>, <%= property.state %></a></h2>
      <% if property.unit.present? %>
        <div class="mt-5 space-y-3">
          <% property.unit.each do |unit| %>
            <p>Unit <%= unit.id %> | Beds: <%= unit.bedroom_count %>, Baths: <%= unit.bathroom_count %>, Sq Ft: <%= unit.square_footage %>, Price: <%= number_to_currency(unit.rent_price, precision: 0) %></p>
          <% end %>
        </div>
      <% end %>
    </div>
    <hr>
  <% end %>
</div>
