<nav class="text-white dark:bg-gray-900 dark:border-gray-700 p-5">
  <h1 class="text-3xl">Properties</h1>
</nav>

<div id="properties" class="flex flex-col mx-5 space-y-5">
  <% @properties.each do |property| %>
    <div class="mt-5">
      <div><a href="<%= property_path(property.id) %>">Property: <%= property.id %></a></div>
      <div>Address: <%= property.address %>, <%= property.city %>, <%= property.state %></div>
      <% if property.unit.present? %>
        <div class="mt-5">
          <% property.unit.each do |unit| %>
            <p>Unit: <%= unit.id %>, Beds: <%= unit.bedroom_count %>, Baths: <%= unit.bathroom_count %>, Sq Ft: <%= unit.square_footage %>, Price: $<%= unit.rent_price %></p>
          <% end %>
        </div>
      <% end %>
    </div>
    <hr>
  <% end %>
</div>
